body {
	/*background-color:#1d5166;*/
	background-color:#f4f3eb;
	font-family: 'Quicksand', sans-serif;
}

#content {
	margin-top:20px;
	padding-left: 35px;
	padding-right: 0px;
}

.btn-type1 {
	background: none;
	background-color: #eb6751;
	color: #FFF;
	text-shadow: none;
	border:none;
	border-radius: 0;
	font-size:17px;
}
/*
.btn-type2 {
	background: none;
	text-shadow: none;
	border: 2px solid #eb6751;
	color: #eb6751;
	background-color:#f4f3eb;
}*/

#desktop-header {
	display:block;
}
#mobile-header {
	display:none;
}
#desktop-footer {
	display:block;
}
#bottombar {
	display:none;
}
@media (max-width: 768px) {
	#desktop-header {
		display:none;
	}
	#mobile-header {
		display:block;
	}
	#desktop-footer {
		display:none;
	}
	#bottombar {
		display:block;
	}
	 header span {
		float:left;
        padding-left: 5px;
		font-size:17px;
		color:#000;
		line-height:28px;
		margin-top:10px;
	}
	header .image {
		float:left;
        height: 80px;
        width: 81px;
        border-radius: 8px;
		margin-left: 5px;
    }
	.header-img{
		height: auto;
		max-height: 300px;
	}
	#indexButton{
		margin-top: 5px;

	}
	#sidebar #sidebar-content img {
    	position: initial;
		margin-top: 45px;
	}
}

/******************************************************/
/********************** Index *************************/
/******************************************************/

#content_index{
	padding-right: 0px;
	padding-left: 0px;
}
header {
    height: 80px;
    padding: 5px 0;
    width: 100%;
}

@media (min-width: 768px){
	header span {
		float:left;
		padding-left: 15px;
		font-size:32px;
		color:#000;
		line-height:80px;
		margin-top:10px;
		
	}
	    header .image {
		float:left;
        height: 70px;
        width: 70px;
        border-radius: 8px;
		margin-left: 5px;
    }
	header .image {
        width: 100px;
	}
	.rwd-break { 
		display: none;
	 }
	#indexImg{
	    max-height: 475px;
	}
	#sidebar #sidebar-content img {
    		position: absolute;
			left: 0;
			bottom: 30px;
	}
}
	
/******************************************************/
/********************** Pages *************************/
/******************************************************/
.text {
	margin: 10px 0px 15px 15px;
	color:#000000;
}
	.text h3 {
		color:#69c3c4;
	}
	.text p{
		text-align: left;
		margin-right: 15px;
	}
	.text ul {
		list-style:none;
	}
		.text ul li {
			display: block;
		}
		.text ul li:before {
			content: "\e080";
			font-family: 'Glyphicons Halflings';
			font-size: 9px;
			float: left;
			margin-top: 4px;
			margin-left: -17px;
			color: #CCCCCC;
		}

#page-img{
	width:100%;
	max-height: 320px;
}
#sidebar {
	position: fixed;
    top: 0;
	left: -250px;
    height: 100%;
    width: 280px;
	background: #F5F5F5;
	transition: left 300ms;
    border-right: 2px solid #eb6751;
	z-index: 10;
}
#sidebar[data-show="true"] {
	left:0;
}
	#sidebar #sidebar-content {
	    width: 260px;
    	padding: 10px;
		height:100%;
		overflow-y:auto;
	}
		#sidebar #sidebar-content > * {
			margin-top:5px;
		}
		#sidebar #sidebar-content img {
			padding-left: 25%;
		}

	#sidebar #sidebar-handle {
		position: absolute;
		right: -2px;
		width: 30px;
		height: 100%;
	}
		#sidebar #sidebar-handle span.glyphicon {
			top: calc(50% - 7px);
			left: 5px;
			font-size: 18px;
		}
		#sidebar #sidebar-handle #sidebar-handle-icon-left {
			display:none;
		}
		#sidebar #sidebar-handle-icon-right {
			display:block;
		}
		#sidebar[data-show="true"] #sidebar-handle-icon-right {
			display:none;
		}
		#sidebar[data-show="true"] #sidebar-handle-icon-left {
			display:block!important;
		}

/******************************************************/
/********************* Contact ************************/
/******************************************************/
.list-group p,h4,a{
	text-align: center
}
