body {
	/*background-color:#1d5166;*/
	background-color:#f4f3eb;
}

#content {
	margin-top:20px;
	padding-left: 35px;
	padding-right: 0px;
}

.btn-type1 {
	background: none;
	background-color: #eb6751;
	color: #FFF;
	text-shadow: none;
	border:none;
	margin-top: 0px!important;
	border-radius: 0;
}
/*
.btn-type2 {
	background: none;
	text-shadow: none;
	border: 2px solid #eb6751;
	color: #eb6751;
	background-color:#f4f3eb;
}*/

/******************************************************/
/********************** Index *************************/
/******************************************************/

#content_index{
	padding-right: 0px;
	padding-left: 0px;
}
header {
    height: 80px;
    padding: 5px 0;
    width: 100%;
}
    header .image {
		float:left;
        height: 70px;
        width: 70px;
        border-radius: 8px;
    }
    header span {
		float:left;
        line-height: 70px;
        padding-left: 15px;
		color:#FFF;
		font-size: 30px;
    }
	
#index-banner {
	width:100%;
}


/******************************************************/
/********************** Pages *************************/
/******************************************************/
.text {
	margin-top:10px;
	color:#000000;
}
	.text h3 {
		color:#69c3c4;
	}
	.text ul {
		list-style:none;
	}
		.text ul li {
			display: block;
		}
		.text ul li:before {
			content: "\e080";
			font-family: 'Glyphicons Halflings';
			font-size: 9px;
			float: left;
			margin-top: 4px;
			margin-left: -17px;
			color: #CCCCCC;
		}
#page-img{
	width:100%;
}
#sidebar {
	position: fixed;
    top: 0;
	left: -250px;
    height: 100%;
    width: 280px;
	background: #F5F5F5;
	transition: left 300ms;
    border-right: 2px solid #eb6751;
}
#sidebar[data-show="true"] {
	left:0;
}
	#sidebar #sidebar-content {
	    width: 260px;
    	padding: 10px;
	}
		#sidebar #sidebar-content > * {
			margin-top:5px;
		}
	#sidebar #sidebar-handle {
		position: absolute;
		right: -2px;
		width: 30px;
		height: 100%;
	}
		#sidebar #sidebar-handle span.glyphicon {
			top: calc(50% - 7px);
			left: 5px;
			font-size: 18px;
		}
		#sidebar #sidebar-handle #sidebar-handle-icon-left {
			display:none;
		}
		#sidebar #sidebar-handle-icon-right {
			display:block;
		}
		#sidebar[data-show="true"] #sidebar-handle-icon-right {
			display:none;
		}
		#sidebar[data-show="true"] #sidebar-handle-icon-left {
			display:block!important;
		}